@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  /* font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans,
        Helvetica Neue, sans-serif; */
  font-family: 'Lato', sans-serif;
  font-weight: 400;

  /* overflow: hidden; */
}
#root {
  overflow-x: hidden;
}

/* .page {
    @apply h-[calc(100vh-6.5rem)] m-auto sm:h-auto p-[4vw] sm:p-10;
} */
/* .pageSecondaryPink {
    @apply bg-secondary-pink page;
} */

/* .title {
  @apply h-14  flex items-center justify-center  border-b-2 border-tertiary-black;
}
.body {
  @apply bg-gray-200 flex flex-col items-center h-[calc(100%-4rem)]  rounded-t rounded-b-xl p-4 overflow-x-auto;
} */
/* .pageContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: auto;
  height: calc(100vh - 104px);
  padding: 5vw;
  text-align: justify;
  background-color: rgba(0, 0, 0, 0.05);
} */

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

/* .rightPanel.close {
    animation: closeLogPannel 1s;
    animation-fill-mode: forwards;
}

@keyframes closeLogPannel {
    0% {
        margin-right: 0;
    }
    100% {
        margin-right: -75%;
    }
} */

/* @media (min-width: 500px) {
    .rightPanel {
        background-color: darkblue;
        width: 25vw;
    }
} */
